In [1]:
%cd ..

E:\システムトレード入門\trade_system_git_workspace

In [2]:
import datetime
from pytz import timezone

In [3]:
from pathlib import Path
import pandas as pd

In [4]:
from get_stock_price import StockDatabase

### データベースのコンストラクト

In [5]:
db_path = Path("db/stock_db") / Path("stock.db")
stock_db = StockDatabase(db_path)

## 利用する銘柄名

In [6]:
ticker_codes_df = pd.read_csv(Path("portfolio/rl_base/nikkei225.csv"), header=0)  # 自分で作成
ticker_codes = ticker_codes_df["code"].values.astype(str).tolist()
ticker_codes

['1333',
 '1332',
 '1605',
 '1802',
 '1801',
 '1963',
 '1812',
 '1803',
 '1925',
 '1808',
 '1928',
 '1721',
 '2002',
 '2269',
 '2914',
 '2503',
 '2501',
 '2801',
 '2502',
 '2802',
 '2531',
 '2871',
 '2282',
 '3101',
 '3401',
 '3402',
 '3103',
 '3863',
 '3861',
 '6988',
 '4021',
 '4061',
 '4901',
 '4004',
 '4911',
 '4043',
 '4183',
 '4042',
 '3407',
 '4208',
 '4188',
 '3405',
 '4005',
 '4631',
 '4063',
 '4452',
 '4519',
 '4578',
 '4506',
 '4502',
 '4507',
 '4523',
 '4568',
 '5019',
 '5020',
 '5101',
 '5202',
 '5214',
 '5232',
 '5233',
 '5301',
 '5332',
 '5333',
 '5401',
 '5406',
 '5411',
 '5541',
 '3436',
 '5703',
 '5706',
 '5707',
 '5711',
 '5713',
 '5714',
 '5801',
 '5802',
 '5803',
 '5901',
 '5631',
 '6103',
 '6113',
 '6301',
 '6302',
 '6305',
 '6326',
 '6361',
 '6367',
 '6471',
 '6472',
 '6473',
 '7004',
 '7011',
 '7013',
 '3105',
 '6479',
 '6501',
 '6503',
 '6504',
 '6506',
 '6645',
 '6674',
 '6701',
 '6702',
 '6703',
 '6724',
 '6752',
 '6758',
 '6762',
 '6770',
 '6841',
 '6857',
 '6902',
 '6952',
 '6954',
 '6971',
 '6976',
 '7735',
 '7751',
 '7752',
 '8035',
 '7003',
 '7012',
 '7201',
 '7202',
 '7203',
 '7205',
 '7211',
 '7261',
 '7267',
 '7269',
 '7270',
 '7272',
 '4543',
 '4902',
 '7731',
 '7733',
 '7762',
 '7832',
 '7911',
 '7912',
 '7951',
 '2768',
 '8001',
 '8002',
 '8015',
 '8031',
 '9983',
 '8233',
 '3099',
 '8028',
 '8267',
 '3086',
 '3382',
 '8252',
 '8304',
 '8303',
 '8354',
 '8355',
 '8331',
 '8308',
 '8306',
 '7186',
 '8411',
 '8316',
 '8309',
 '8601',
 '8604',
 '8628',
 '8630',
 '8795',
 '8750',
 '8766',
 '8725',
 '8253',
 '8697',
 '8830',
 '8801',
 '3289',
 '8804',
 '8802',
 '9021',
 '9008',
 '9020',
 '9005',
 '9007',
 '9001',
 '9009',
 '9022',
 '9064',
 '9062',
 '9107',
 '9104',
 '9101',
 '9202',
 '9301',
 '9433',
 '9412',
 '9432',
 '9437',
 '9434',
 '9613',
 '9984',
 '9502',
 '9501',
 '9503',
 '9531',
 '9532',
 '9735',
 '2432',
 '4324',
 '6178',
 '9766',
 '4689',
 '9602',
 '4755',
 '4704',
 '6098',
 '4751',
 '2413']

### 新しいサブデータベースの作成

In [7]:
new_db_path = Path("db/sub_stock_db") / Path("nikkei_255_stock_v2.db")

jst_timezone = timezone("Asia/Tokyo")
start_datetime = jst_timezone.localize(datetime.datetime(2020,11,1,0,0,0))
end_datetime = jst_timezone.localize(datetime.datetime(2021,2,1,0,0,0))
#end_datetime = get_next_workday_jp(start_datetime, days=11)  # 営業日で一週間(5日間)

stock_list = ticker_codes

new_db = stock_db.make_db(new_db_path, 
                          stock_names=stock_list,
                          start_datetime=start_datetime,
                          end_datetime=end_datetime
                         )

count :794

In [8]:
stock_names = ["4755"]
stock_df = new_db.search_span(stock_names,
                              start_datetime=start_datetime,
                              end_datetime=end_datetime,
                              freq_str="T",
                              to_tokyo="True"
                             )

In [9]:
stock_df

,Open_4755,High_4755,Low_4755,Close_4755,Volume_4755
timestamp,,,,,
2020-11-02 09:00:00+09:00,1005.0,1008.0,1000.0,1005.0,0.0
2020-11-02 09:01:00+09:00,1006.0,1017.0,1006.0,1016.0,53900.0
2020-11-02 09:02:00+09:00,1019.0,1019.0,1019.0,1019.0,63200.0
2020-11-02 09:03:00+09:00,1019.0,1020.0,1016.0,1017.0,79900.0
2020-11-02 09:04:00+09:00,1016.0,1017.0,1014.0,1017.0,41800.0
...,...,...,...,...,...
2021-01-31 23:55:00+09:00,NaN,NaN,NaN,NaN,NaN
2021-01-31 23:56:00+09:00,NaN,NaN,NaN,NaN,NaN
2021-01-31 23:57:00+09:00,NaN,NaN,NaN,NaN,NaN
2021-01-31 23:58:00+09:00,NaN,NaN,NaN,NaN,NaN
2021-01-31 23:59:00+09:00,NaN,NaN,NaN,NaN,NaN

In [10]:
stock_names = ["4755"]
stock_df = stock_db.search_span(stock_names,
                              start_datetime=start_datetime,
                              end_datetime=end_datetime,
                              freq_str="T",
                              to_tokyo="True"
                             )

In [11]:
stock_df

,Open_4755,High_4755,Low_4755,Close_4755,Volume_4755
timestamp,,,,,
2020-11-02 09:00:00+09:00,1005.0,1008.0,1000.0,1005.0,0.0
2020-11-02 09:01:00+09:00,1006.0,1017.0,1006.0,1016.0,53900.0
2020-11-02 09:02:00+09:00,1019.0,1019.0,1019.0,1019.0,63200.0
2020-11-02 09:03:00+09:00,1019.0,1020.0,1016.0,1017.0,79900.0
2020-11-02 09:04:00+09:00,1016.0,1017.0,1014.0,1017.0,41800.0
...,...,...,...,...,...
2021-01-31 23:55:00+09:00,NaN,NaN,NaN,NaN,NaN
2021-01-31 23:56:00+09:00,NaN,NaN,NaN,NaN,NaN
2021-01-31 23:57:00+09:00,NaN,NaN,NaN,NaN,NaN
2021-01-31 23:58:00+09:00,NaN,NaN,NaN,NaN,NaN
2021-01-31 23:59:00+09:00,NaN,NaN,NaN,NaN,NaN